<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Darshan / n01579982</h1>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <p>Email: n01579982@humber.ca</p>
    </footer>
  </body>
</html>